$font_color_main: #4b5d68;
$font_color_title: #212353;
$hover_color: #8a40ee;
$btn_text_color: #ffffff;
$btn_light-prpl_color: #9c69e2;
$btn_light-rose_color: #ea77bc;
$btn_dark-rose_color: #de3b9d;
$black_cursor: url("../img/cursor.png"), pointer;
