@import "vars";
@import "mixins";
@import "animation";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  background-size: cover;
  border: 1 solid hsla(0, 0%, 100%, 0.18);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
  margin: 0 auto;
  max-width: 1290px;
  width: 100%;
  position: relative;
  padding-top: 10vh;
}

.main,
.footer {
  padding: 0 3vw;
}

html {
  font-family: "Montserrat";
  @include fontStyle(500, 18px, 160%, $font_color_main);
}



.logo {
  width: 45px;

  &:hover {
    cursor: $black_cursor;
  }
}

.button {
  @include flexStyle(flex, center, center, null, 20px);
  min-width: 210px;
  border: 1px solid $btn_light-prpl_color;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  @include bgStyle(210px, 60px, $btn_text_color);
  font-size: 0.89rem;
  transition: all 200ms ease-in-out;

  @media screen and(max-width: 520px) {
    min-width: 100px;
    max-width: 155px;
    font-size: 0.8rem;
  }

  &__img {
    @media screen and(max-width: 520px) {
      display: none;
    }
  }

  &:hover {
    cursor: $black_cursor;
  }

  &_header {
    margin-left: 2%;
  }

  &_request {
    &:hover {
      color: $btn-text-color;
      background: $btn_light-prpl_color;
      position: relative;

      &::after {
        content: url("../img/svg/white-arrow.svg");
        position: absolute;
        right: 29px;
        top: 21px;

        @media screen and(max-width: 520px) {
          display: none;
        }
      }
    }
  }

  &_learn {
    color: $btn-text-color;
    background-color: $btn_light-prpl_color;

    &:hover {
      background-color: $hover-color;
      border-color: $hover-color;
    }
  }

  &_learn-more {
    color: $btn-text-color;
    background-color: $btn_light-rose_color;
    border-color: $btn_light-rose_color;

    &:hover {
      background-color: $btn_dark-rose_color;
    }
  }
}

.info {
  display: flex;
  position: relative;
  margin-bottom: 5.4vw;
  padding-bottom: 30px;

  @media screen and (max-width: 1078px) {
    flex-direction: column-reverse;
    text-align: center;

    &__btn {
      margin: 0 auto;
    }
  }

  &__title {
    max-width: 600px;

    @media screen and (max-width: 1078px) {
      max-width: 100%;
      margin-top: 30px;
    }
  }

  &__text {
    max-width: 370px;
    margin: 50px 0;

    @media screen and (max-width: 1078px) {
      max-width: 700px;
      margin: 40px auto;
    }
  }

  &__img {
    max-width: 50vw;
    min-width: 275px;
    position: absolute;
    top: 86px;
    right: 0;

    @media screen and (max-width: 1078px) {
      position: relative;
      margin: 0 auto;
      top: 0;
      right: 0;
    }
  }
}

.about {
  background: #fde8f5;
  border-radius: 50px;
  border: 1px dashed #b78ef0;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  margin-bottom: 6.5vw;
  gap: 2vw;

  @media screen and (max-width: 1078px) {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    max-width: 30vw;
    min-width: 230px;
  }

  &__container {
    max-width: 500px;

    @media screen and (max-width: 1078px) {
      text-align: center;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 40px;
  }
}

.title {
  @include fontStyle(700, 2.22rem, 130%, $font_color_title);
  font-family: "Work Sans";

  @media screen and(max-width: 1078px) {
    font-size: 1.7rem;
  }

  &_big {
    font-size: 4.44rem;
    line-height: 110%;

    @media screen and(max-width: 1078px) {
      font-size: 2rem;
    }
  }

  &_sm {
    font-weight: 400;
    font-size: 1.33rem;
  }
}

.features {
  text-align: center;

  &__subtitle {
    max-width: 638px;
    font-weight: 500;
    font-size: 0.89rem;
    margin: 3vw auto 4vw;
  }

  &__container {
    display: grid;
    justify-items: end;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    row-gap: 50px;

    @media screen and (max-width: 1078px) {
      justify-items: center;
      grid-template-rows: 1fr;
      grid-template-columns: 100%;
      row-gap: 25px;
    }
  }

  &__item {
    display: flex;
    position: relative;

    @media screen and(max-width: 820px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    max-width: 17vw;
    min-width: 190px;
    position: absolute;
    top: 110px;
    right: 323px;
    z-index: 10;

    @media screen and(max-width: 820px) {
      visibility: hidden;
    }
  }
}

.features-box {
  @include flexStyle(flex, space-between, null, column, null);
  text-align: start;
  @include bgStyle(400px, 400px, #f0faf9);
  padding: 62px 70px 62px 100px;
  position: relative;
  overflow: hidden;
  border: 1px dashed #b78ef0;

  @media screen and (max-width: 820px) {
    width: 100%;
    height: fit-content;
    padding: 7vw;
  }

  &_green {
    &::after {
      content: "";
      @include bgPicture(50%, 140px, 38%, 5%);
      background: url("../img/svg/bg-image.svg") no-repeat;
      background-size: contain;
    }
  }

  &_prpl {
    background: #f6f0fd;

    &::after {
      content: "";
      @include bgPicture(53%, 151px, 38%, 57%);
      background: url("../img/svg/bg-prpl.svg") no-repeat;
      background-size: contain;
    }
  }

  &_rose {
    background: #fef0f8;

    &::after {
      content: "";
      @include bgPicture(20%, 51px, 80%, 6%);
      background: url("../img/svg/bg-rose.svg") no-repeat;
      background-size: contain;
    }
  }

  &_blue {
    background: #eaf6fc;

    &::after {
      content: "";
      @include bgPicture(90%, 360px, 4%, 5%);
      background: url("../img/svg/bg-green.svg") no-repeat;
      background-size: contain;
    }
  }

  &__title,
  &__text,
  &__link {
    position: relative;
    z-index: 3;
  }

  &__text {
    @include fontStyle(400, 0.89rem, 160%, $font_color_main);
    margin: 20px 0;
  }

  &__link {
    @include linkStyle(0.89rem, 700, $font_color_title);
    @include flexStyle(flex, null, center, null, 20px);
    letter-spacing: 0.005em;

    &:hover {
      color: $hover-color;
      cursor: $black_cursor;
    }
  }
}

.testimonials {
  background: #ccddff;
  border-radius: 50px;
  border: 1px dashed #b78ef0;
  margin-top: 6vw;
  padding: 4vw;
  position: relative;

  &__title,
  &__card,
  &__img {
    position: relative;
    z-index: 3;
  }

  &::after {
    content: "";
    @include bgPicture(100%, 580px, 0, 0);
    background: url("../img/svg/bg-testimonials.svg") no-repeat;
    background-size: contain;
  }

  &__title {
    color: #4b5d68;
    margin-bottom: 4.3vw;
    text-align: center;
  }

  &__container {
    @include flexStyle(flex, space-between, null, null, 10px);

    @media screen and (max-width: 1078px) {
      flex-direction: column;
    }
  }

  &__card {
    @include bgStyle(465px, 300px, $btn-text-color);
    border: 1px solid $btn_light-prpl_color;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    @include flexStyle(flex, null, null, null, 15px);
    padding: 2.8vw 30px;

    @media screen and (max-width: 1078px) {
      max-width: 1000px;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
    }
  }

  &__img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }

  &__name {
    @include fontStyle(500, 0.89rem, 160%, $font_color_title);
  }

  &__link {
    @include linkStyle(0.78rem, 500, $btn_light-prpl_color);
    cursor: $black_cursor;
    display: block;
    margin: 0 0 12px;

    &:hover {
      cursor: $black_cursor;
      color: $btn_dark-rose_color;
    }
  }

  &__text {
    @include fontStyle(400, 0.89rem, 160%, $font_color_main);
  }
}

.try {
  margin: 120px 0 103px;
  display: flex;
  justify-content: space-between;

  &__item {
    @include flexStyle(flex, null, null, null, 2vw);
  }

  @media screen and (max-width: 1078px) {
    @include flexStyle(flex, null, center, column, 30px);
    text-align: center;
    margin: 10vw 0;
  }
}

.footer-box {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1078px) {
    @include flexStyle(flex, null, center, column, 30px);
    text-align: center;
  }

  &__title {
    @include fontStyle(600, 0.89rem, 160%, $font_color_title);
    margin-bottom: 30px;
  }

  &__link {
    @include linkStyle(0.89rem, 500, $font_color_main);
    display: block;
    margin-bottom: 10px;

    &:hover {
      cursor: $black_cursor;
      color: $hover_color;
    }
  }
}

.logo-container {
  @include flexStyle(flex, null, center, null, 20px);
}

.contacts {
  max-width: 298px;
  color: $font_color_title;

  &__title {
    font-weight: 600;
    font-size: 1.11rem;
  }

  &__adress {
    margin-top: 62px;
    @include fontStyle(500, 0.89rem, 180%, $font_color_title);
  }

  &__link {
    @include linkStyle(0.89rem, 400, $font_color_title);
    display: block;
    margin-top: 10px;

    &:hover {
      cursor: $black_cursor;
      color: $hover_color;
    }
  }
}

.footer-about {
  min-width: 85px;
}

.about-help-box {
  @include flexStyle(flex, space-between, null, null, null);
  flex-grow: 0.3;
  min-width: 250px;
}

.social {
  &__box {
    @include flexStyle(flex, null, null, null, 15px);
  }

  &__link {
    width: 50px;
    height: 50px;
    transition: all 200ms ease-in-out;

    &:hover {
      cursor: $black_cursor;
    }

    &_facebook {
      background-image: url("../img/svg/facebook.svg");

      &:hover {
        background-image: url("../img/svg/facebook-1.svg");
      }
    }

    &_twitter {
      background-image: url("../img/svg/twitter.svg");

      &:hover {
        background-image: url("../img/svg/twitter-1.svg");
      }
    }

    &_instagram {
      background-image: url("../img/svg/instagram.svg");

      &:hover {
        background-image: url("../img/svg/instagram-1.svg");
      }
    }
  }
}

.copyright {
  margin-top: 109px;
  @include fontStyle(400, 0.67rem, 180%, $font_color_title);
  max-width: 320px;
  padding-bottom: 10vw;

  @media screen and (max-width: 1078px) {
    text-align: center;
    margin: 60px auto 0;
  }
}

