* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Work Sans", sans-serif;
}

.content-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    padding: 15px;
  }
}

.header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
@media screen and (max-width: 475px) {
  .header {
    margin-bottom: 0;
  }
}

.header__logo {
  margin-right: 120px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.aside-wrapper {
  width: 100%;
  max-width: 515px;
}

.header__nav-list {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  min-width: 210px;
  min-height: 60px;
  margin-right: 0;
  margin-left: auto;
  padding: 16px 23px;
  background: none;
  border: 1px solid #9C69E2;
  box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .header-button {
    display: none;
  }
}

.header-button svg {
  vertical-align: middle;
  margin-left: 10px;
}

.header-button-text {
  font-size: 16px;
  line-height: 25.6px;
  font-family: "Montserrat", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px;
  border-radius: 5px;
  background: black;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active span:nth-child(1) {
    transform-origin: center center;
    transform: rotate(45deg) translate(6px, 5px);
  }
  .burger-menu.active span:nth-child(3) {
    transform-origin: center center;
    transform: rotate(-45deg) translate(6px, -5px);
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.header__nav-link {
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: black;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: absolute;
    top: 80px;
    right: 0;
    background: linear-gradient(243.43deg, rgba(85, 183, 255, 0.6) 16.9%, rgba(126, 90, 255, 0.6) 83.27%);
    border-top: 1px solid white;
    box-shadow: #4B5562;
    z-index: 1;
    transition: all 0.5s ease-in-out;
  }
  .header__nav-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 20px 20px 20px;
    color: white;
  }
  .header__nav-link:before {
    display: none;
  }
  .header__nav.show {
    display: flex;
    width: 50%;
    gap: 0;
    color: white;
    justify-content: center;
  }
}
@media screen and (max-width: 475px) {
  .header__nav.show {
    width: 100%;
  }
}
.first-screen {
  min-height: 498px;
  position: relative;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .first-screen {
    display: flex;
    flex-direction: column;
    min-height: 730px;
  }
}
@media screen and (max-width: 475px) {
  .first-screen {
    text-align: center;
    min-height: 0;
    margin-bottom: 19px;
  }
}

.first-screen .first-screen-title {
  max-width: 600px;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  margin-bottom: 50px;
}
@media screen and (max-width: 475px) {
  .first-screen .first-screen-title {
    font-size: 40px;
  }
}

.first-screen .first-screen-text {
  max-width: 370px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  margin-bottom: 50px;
}

.first-screen .first-screen-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9C69E2;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 15px 35px;
}
@media screen and (max-width: 475px) {
  .first-screen .first-screen-button {
    margin: 0 auto;
  }
}

.first-screen .first-screen__image {
  position: absolute;
  width: 100%;
  max-width: 770px;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .first-screen .first-screen__image {
    max-width: 80vw;
    width: auto;
  }
}
@media screen and (max-width: 475px) {
  .first-screen .first-screen__image {
    position: relative;
  }
}

.second-screen {
  width: 100%;
  background: #FDE8F5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 120px;
  padding: 75px 15px;
}
@media screen and (max-width: 475px) {
  .second-screen {
    flex-direction: column;
    padding: 30px 15px;
    text-align: center;
    margin-bottom: 0;
  }
}

.second-screen .second-screen__info {
  max-width: 500px;
}

.second-screen .second-screen-title {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 40px;
  color: #212353;
}

.second-screen .second-screen-text {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

@media screen and (max-width: 475px) {
  .second-screen__image {
    width: 90%;
  }
}

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features .features-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 475px) {
  .features .features-heading {
    margin-bottom: 15px;
  }
}

.features .features-heading .features-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 50px;
}

.features .features-heading .features-subtitle {
  max-width: 638px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4B5D68;
}

.features .cards {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.features .cards .card {
  position: relative;
  width: 100%;
  max-width: 570px;
  height: 100%;
  min-height: 400px;
  border-radius: 50px;
  margin-bottom: 50px;
}

.features .cards .card .card-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 20px;
}

.features .cards .card .card-info {
  height: 100%;
  max-height: 180px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  margin-bottom: 20px;
}

.card-image {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 475px) {
  .card-image {
    top: 110%;
    right: 150px;
  }
}

.card-content {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 62px 70px 62px 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 475px) {
  .card-content {
    padding: 62px 30px;
  }
}

.card-content__first {
  background: #F0FAF9;
  z-index: -2;
}

.card-content__first:after {
  content: url("img/card1-bg-image.svg");
  position: absolute;
  z-index: -1;
  top: 20px;
  right: 50px;
}

.card-content__second {
  background: #F6F0FD;
}

.card-content__third {
  background: #FEF0F8;
}

.card-content__fourth {
  background: #EAF6FC;
}

.card-content .card-button {
  border: none;
  color: #212353;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

.card-content .card-button-text {
  margin-right: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
}



/*# sourceMappingURL=styles.css.map */
