* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
}

h1, h2, h3, h4 {
  font-family: $secondary-font;
}

.content-wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }
}