
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    background: url("../img/beautiful-watercolor-background_23-2148486848.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    background-size: cover;
    border: 1 solid hsla(0deg, 0%, 100%, 0.18);
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    position: relative;
    padding-top: 100px;
}
@media screen and (max-width: 1078px) {
    .container {
        padding-top: 50px;
    }
}

.header,
.main,
.footer {
    padding: 0 35px;
}
@media screen and (max-width: 520px) {
    .header,
    .main,
    .footer {
        padding: 0 15px;
    }
}

html {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4b5d68;
}



.logo {
    width: 45px;
    height: 35px;
}
.logo:hover {
    cursor: url("../img/cursor.png"), pointer;
}


.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    min-width: 210px;
    border: 1px solid #9c69e2;
    -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    width: 210px;
    height: 60px;
    background: #ffffff;
    border-radius: 50px;
    font-size: 0.89rem;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
@media screen and (max-width: 520px) {
    .button {
        min-width: 100px;
        max-width: 140px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 0.8rem;
        gap: 10px;
    }
}
.button:hover {
    cursor: url("../img/cursor.png"), pointer;
}
.button_request:hover {
    color: #ffffff;
    background: #9c69e2;
    position: relative;
}
.button_request:hover::after {
    content: url("../img/svg/white-arrow.svg");
    position: absolute;
    right: 29px;
    top: 21px;
}
@media screen and (max-width: 520px) {
    .button_request:hover::after {
        right: 58px;
        top: 34px;
    }
}
.button_learn {
    color: #ffffff;
    background-color: #9c69e2;
}
.button_learn:hover {
    background-color: #8a40ee;
    border-color: #8a40ee;
}
.button_learn-more {
    color: #ffffff;
    background-color: #ea77bc;
    border-color: #ea77bc;
}
.button_learn-more:hover {
    background-color: #de3b9d;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 100px;
}
@media screen and (max-width: 1078px) {
    .info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center;
    }
    .info__btn {
        margin: 0 auto;
    }
}
.info__title {
    max-width: 600px;
}
@media screen and (max-width: 1078px) {
    .info__title {
        max-width: 100%;
        margin-top: 30px;
    }
}
.info__text {
    max-width: 370px;
    margin: 50px 0;
}
@media screen and (max-width: 1078px) {
    .info__text {
        max-width: 700px;
        margin: 40px auto;
    }
}
.info__img {
    max-width: 770px;
    max-height: 407px;
    position: absolute;
    top: 64px;
    right: 0;
}
@media screen and (max-width: 1200px) {
    .info__img {
        max-width: 650px;
    }
}
@media screen and (max-width: 1078px) {
    .info__img {
        position: relative;
        margin: 0 auto;
        top: 0;
        right: 0;
        max-width: 450px;
        max-width: 290px;
    }
}

.about {
    background: #fde8f5;
    border-radius: 50px;
    border: 1px dashed #b78ef0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 75px 70px;
    margin-bottom: 120px;
}
@media screen and (max-width: 1078px) {
    .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 60px;
        padding: 50px 25px;
    }
}
.about__img {
    max-width: 400px;
    max-height: 410px;
}
@media screen and (max-width: 1078px) {
    .about__img {
        margin: -40px auto 25px;
        max-width: 230px;
    }
}
.about__container {
    max-width: 500px;
}
@media screen and (max-width: 1078px) {
    .about__container {
        text-align: center;
        max-width: 100%;
    }
}
.about__title {
    margin-bottom: 40px;
}

.title {
    font-weight: 700;
    font-size: 2.22rem;
    line-height: 130%;
    color: #212353;
    font-family: "Work Sans";
}
@media screen and (max-width: 520px) {
    .title {
        font-size: 1.8rem;
    }
}
.title_big {
    font-size: 4.44rem;
    line-height: 110%;
}
@media screen and (max-width: 1200px) {
    .title_big {
        font-size: 3rem;
    }
}
@media screen and (max-width: 520px) {
    .title_big {
        font-size: 2rem;
    }
}
.title_sm {
    font-weight: 400;
    font-size: 1.33rem;
}

.features {
    text-align: center;
}
.features__subtitle {
    max-width: 638px;
    font-weight: 500;
    font-size: 0.89rem;
    margin: 50px auto 80px;
}
.features__container {
    display: grid;
    justify-items: end;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
}
@media screen and (max-width: 1078px) {
    .features__container {
        justify-items: center;
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
    }
}
.features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
@media screen and (max-width: 820px) {
    .features__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.features__img {
    max-width: 245px;
    max-height: 180px;
    position: absolute;
    top: 110px;
    right: 323px;
    z-index: 10;
}
@media screen and (max-width: 1200px) {
    .features__img {
        max-width: 200px;
        right: 300px;
    }
}
@media screen and (max-width: 820px) {
    .features__img {
        visibility: hidden;
    }
}

.features-box {
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background: #f0faf9;
    border-radius: 50px;
    padding: 62px 70px 62px 100px;
    position: relative;
    overflow: hidden;
    border: 1px dashed #b78ef0;
}
@media screen and (max-width: 1200px) {
    .features-box {
        width: 350px;
        height: 350px;
        padding: 40px 40px 40px 70px;
    }
}
@media screen and (max-width: 520px) {
    .features-box {
        width: 315px;
        height: 315px;
        padding: 35px 25px;
    }
}
.features-box_green::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 140px;
    left: 38%;
    top: 5%;
    z-index: 2;
    background: url("../img/svg/bg-image.svg") no-repeat;
    background-size: contain;
}
.features-box_prpl {
    background: #f6f0fd;
}
.features-box_prpl::after {
    content: "";
    position: absolute;
    width: 53%;
    height: 151px;
    left: 38%;
    top: 57%;
    z-index: 2;
    background: url("../img/svg/bg-prpl.svg") no-repeat;
    background-size: contain;
}
.features-box_rose {
    background: #fef0f8;
}
.features-box_rose::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 51px;
    left: 80%;
    top: 6%;
    z-index: 2;
    background: url("../img/svg/bg-rose.svg") no-repeat;
    background-size: contain;
}
.features-box_blue {
    background: #eaf6fc;
}
.features-box_blue::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 360px;
    left: 4%;
    top: 5%;
    z-index: 2;
    background: url("../img/svg/bg-green.svg") no-repeat;
    background-size: contain;
}
.features-box__title,
.features-box__text,
.features-box__link {
    position: relative;
    z-index: 3;
}
.features-box__text {
    font-weight: 400;
    font-size: 0.89rem;
    line-height: 160%;
    color: #4b5d68;
    margin: 20px 0;
}
.features-box__link {
    text-decoration: none;
    font-size: 0.89rem;
    font-weight: 700;
    color: #212353;
    letter-spacing: 0.005em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.features-box__link:hover {
    color: #8a40ee;
    cursor: url("../img/cursor.png"), pointer;
}

.testimonials {
    background: #ccddff;
    border-radius: 50px;
    border: 1px dashed #b78ef0;
    margin-top: 120px;
    padding: 75px 70px;
    position: relative;
}
@media screen and (max-width: 820px) {
    .testimonials {
        padding: 25px 20px;
        margin-top: 50px;
    }
}
.testimonials__title,
.testimonials__card,
.testimonials__img {
    position: relative;
    z-index: 3;
}
.testimonials::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 580px;
    left: 0;
    top: 0;
    z-index: 2;
    background: url("../img/svg/bg-testimonials.svg") no-repeat;
    background-size: contain;
}
.testimonials__title {
    color: #4b5d68;
    margin-bottom: 80px;
    text-align: center;
}
.testimonials__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
}
@media screen and (max-width: 1078px) {
    .testimonials__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
.testimonials__card {
    width: 465px;
    height: 300px;
    background: #ffffff;
    border-radius: 50px;
    border: 1px solid #9c69e2;
    -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    padding: 50px 30px;
}
@media screen and (max-width: 1078px) {
    .testimonials__card {
        max-width: 1000px;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 820px) {
    .testimonials__card {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.testimonials__img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.testimonials__name {
    font-weight: 500;
    font-size: 0.89rem;
    line-height: 160%;
    color: #212353;
}
.testimonials__link {
    text-decoration: none;
    font-size: 0.78rem;
    font-weight: 500;
    color: #9c69e2;
    cursor: url("../img/cursor.png"), pointer;
    display: block;
    margin: 0 0 12px;
}
.testimonials__link:hover {
    cursor: url("../img/cursor.png"), pointer;
    color: #de3b9d;
}
.testimonials__text {
    font-weight: 400;
    font-size: 0.89rem;
    line-height: 160%;
    color: #4b5d68;
}

.try {
    margin: 120px 0 103px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.try__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}
@media screen and (max-width: 1078px) {
    .try {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin: 70px 0;
    }
}

.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media screen and (max-width: 1078px) {
    .footer-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
}
.footer-box__title {
    font-weight: 600;
    font-size: 0.89rem;
    line-height: 160%;
    color: #212353;
    margin-bottom: 30px;
}
.footer-box__link {
    text-decoration: none;
    font-size: 0.89rem;
    font-weight: 500;
    color: #4b5d68;
    display: block;
    margin-bottom: 10px;
}
.footer-box__link:hover {
    cursor: url("../img/cursor.png"), pointer;
    color: #8a40ee;
}

.logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts {
    max-width: 298px;
    color: #212353;
}
.contacts__title {
    font-weight: 600;
    font-size: 1.11rem;
}
.contacts__adress {
    margin-top: 62px;
    font-weight: 500;
    font-size: 0.89rem;
    line-height: 180%;
    color: #212353;
}
.contacts__link {
    text-decoration: none;
    font-size: 0.89rem;
    font-weight: 400;
    color: #212353;
    display: block;
    margin-top: 10px;
}
.contacts__link:hover {
    cursor: url("../img/cursor.png"), pointer;
    color: #8a40ee;
}

.about-help-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 90%;
    max-width: 300px;
}

.social__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
}
.social__link {
    width: 50px;
    height: 50px;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.social__link:hover {
    cursor: url("../img/cursor.png"), pointer;
}
.social__link_facebook {
    background-image: url("../img/svg/facebook.svg");
}
.social__link_facebook:hover {
    background-image: url("../img/svg/facebook-1.svg");
}
.social__link_twitter {
    background-image: url("../img/svg/twitter.svg");
}
.social__link_twitter:hover {
    background-image: url("../img/svg/twitter-1.svg");
}
.social__link_instagram {
    background-image: url("../img/svg/instagram.svg");
}
.social__link_instagram:hover {
    background-image: url("../img/svg/instagram-1.svg");
}

.copyright {
    margin-top: 109px;
    font-weight: 400;
    font-size: 0.67rem;
    line-height: 180%;
    color: #212353;
    max-width: 320px;
    padding-bottom: 100px;
}
@media screen and (max-width: 1078px) {
    .copyright {
        text-align: center;
        margin: 60px auto 0;
        padding-bottom: 30px;
    }
}
